body {
  background-color: #ecf5ff;
  display: flex;
  justify-content: center;
}


h1 {
  background-color: black;
  color: #ecf5ff;
  margin-bottom: 10px;
  padding: 0.5rem 0;
  text-align: center;
}

p {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.btn {
  background-color: forestgreen;
  margin-bottom: 0.1875rem;
  width: 100%;
}

.uv-red {
  background-color: red;
  color: white;
  font-weight: bold;
}

.uv-yellow {
  background-color: yellow;
  font-weight: bold;
  color: black;
}

.uv-green {
  background-color: green;
  font-weight: bold;
  color: white;
}


/* 5 day forecast */
.five-forecast-title {
  font-size: 1.5vw;
}

.forecast {
  color: antiquewhite;
  font-weight: bold;
  margin: 0 0 0 0;
}

.card-title {
  font-size: 1vw;
}

.card-body h6 {
  font-size: 1.25vw;
  font-weight: bold;
}

.card-subtitle {
  font-size: .75rem
}