body {
  background-color: #ecf5ff;
  display: flex;
  justify-content: center;
}


h1 {
  background-color: black;
  color: #ecf5ff;
  margin-bottom: 0;
  padding: 0.5rem 0;
  text-align: center;
}

p {
  margin: 0 0 1rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.btn {
  background-color: green;
  margin-bottom: 0.1875rem;
  width: 100%;
}

#searchBtn {
  background-color: forestgreen;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.125rem 0;
  padding: 0.1875rem;
  width: 100%;
}

.uv-severe {
  background-color: red;
  color: white;
  font-weight: bold;
}

.uv-moderate {
  background-color: yellow;
  font-weight: bold;
  color: black;
}

.uv-favorable {
  background-color: green;
  font-weight: bold;
  color: white;
}


/* 5 day forecast */
.five-forecast-title {
  font-size: 1.5vw;
}

.forecast {
  color: antiquewhite;
  font-weight: bold;
}

.card-title {
  font-size: 1vw;
}

.card-body h6 {
  font-size: 1.25vw;
  font-weight: bold;
}

.card-subtitle {
  font-size: .75rem
}